<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../styles.css">
  <script defer src="../js/portfolio.js"></script>
</head>
<body>
<header>
     <div class="port-container portfolio-header">
       <a href="index.html">Log out</a>
     </div>
</header>

<main>
  <div class="port-container">
    <div class="portfolio-main">
      <h1>Portfolio</h1>
      <div class="portfolio-inner">
        <div class="user-image"></div>
        <div>
          <strong>Username: <span  class="portfolio-username"></span></strong>
          <strong>User's password: <span  class="portfolio-password"></span></strong>
        </div>
      </div>


    </div>
  </div>
</main>

</body>
</html>